.container {
  width: 100%;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  background-color: #fff3f1;
}
.slider-box {
  display: flex;
  justify-content: center;
}
.slider {
  width: 284px;
  height: 280px;
  padding: 4px;
  border: 6px solid rgb(123, 118, 118);
}
